# What is Five-Eight?
Covet Fashion is a mobile game based in competitive *style challenges* against other players. As most top players know, the key to consitently scoring well is to analyze trending *makeup* (MU), *hairstyles* (HS), and *skin tones* (ST) for each look; several such Facebook groups are dedicated to this kind of reporting and analysis. However, manually analyzing trends can be both difficult and time-consuming. Based on data from thousands of looks across several years, *five-eight* attempts to automate the process of determining trends and allow players to score the coveted top look: 5.8 stars.

# Loading the Data & Preliminary Analyses

The data used for *five-eight* was scraped from multiple Facebook groups, including Muses of Covet, Covet Hair and Makeup Tips - TCS, Muses of Covet Series Clones, Covet Fashion Friends, and Covet Fashion Angels, and stored in an Excel spreadsheet.

In [2]:
import pandas as pd
import random

In [3]:
data = pd.read_excel('scores.xlsx')

In [4]:
data[['hair_nm', 'type']].groupby('type').count().sort_values(['hair_nm'], ascending = False)

              hair_nm
type
magical           265
casual            207
horror            139
formal            137
royal             126
bridal            123
scifi             121
punk              119
sports            118
Asian             116
professional      116
African           112
Spanish           108
retro             107

# Coding
Categorization was done mostly by keyword analysis. Below are the keywords associated with each category:
- magical: magic, fairy, goddess, enchanted, power, wings, mermaid
- royal: royal, prince, princess, queen, king, regal
- sports: sports, fitness, yoga, football, soccer, skating, gym, hiking, ballet, tennis
- formal: formal, movie star, celebrity, soiree, party, luxury
- professional: professional, lawyer, secretary, interview, teacher, sleek
- African: Africa, Egyptian
- Spanish: Spain, flamenco
- punk: punk, rebel, edgy, goth
- scifi: technology, futuristic, space, time travel
- horror: ghost, Frankenstein, witch, vampire, dead, zombie, goth, monster, dark, sinister
- bridal: wedding, bride, marriage, elope
- retro: retro, year numbers (50s, 60s, etc), steampunk, flapper
- Asian: Chinese, Japanese, Korean, Indian, Vietamnese, Thai

In addition, a catch-all category *casual* was added for most challenges that don't fall into a specific categories, involving mostly day-to-day activities such as shopping, cooking, family time, and such.

# Score Analysis

In [5]:
# finding mean scores and counts of each hairstyle for each challenge type
# getting counts for each category, used for penalized averages later
hair_cts = list(data.groupby(['type', 'hair_nm']).size().to_frame(name = 'h_ct').reset_index()['h_ct'])
# finding average score, averaging level does nothing
hair_means = data.drop(['mu_lvl'], axis = 1).groupby(['type', 'hair_nm'], as_index=False).mean()
# adding counts back
hair_means['h_ct'] = hair_cts
hair_means.head()

      type            hair_nm  hair_lvl     score  h_ct
0  African      African Queen      12.0  4.277500     4
1  African    Ancient Couture      60.0  4.610000     2
2  African  Bald is Beautiful       5.0  4.337778     9
3  African       Beauty Queen      14.0  4.410000     1
4  African          Big Curls       7.0  4.366667     3

In [6]:
# repeating for makeup (MUs) 
mu_cts = list(data.groupby(['type', 'mu_nm']).size().to_frame(name = 'mu_ct').reset_index()['mu_ct'])
mu_means = data.drop(['hair_lvl'], axis = 1).groupby(['type', 'mu_nm'], as_index=False).mean()
mu_means['mu_ct'] = mu_cts
mu_means.head()

      type             mu_nm  mu_lvl     score  mu_ct
0  African            Allure    37.0  4.490000      1
1  African  Alternative Rock    35.0  4.360000      1
2  African           Angelic    60.0  4.680000      3
3  African             Ashen    16.0  4.340000      1
4  African       Ashy Browns    68.0  4.703333      3

In [7]:
# repeating for STs
st_cts = list(data.groupby(['type', 'ST']).size().to_frame(name = 'st_ct').reset_index()['st_ct'])
# STs have no level
st_means = data.drop(['hair_lvl', 'mu_lvl'], axis = 1).groupby(['type', 'ST'], as_index=False).mean()
# adding counts back
st_means['st_ct'] = st_cts
st_means.head()

      type           ST     score  st_ct
0  African         dark  4.465455     55
1  African  medium dark  4.586545     55
2  African        olive  4.305000      2
3    Asian  light olive  4.578462     13
4    Asian  medium dark  4.180000      4

# Penalized Scoring
Because Covet Fashion allows an almost infinite combination of hair/makeup, there are some makeup choices that are generally less popular, but may score higher due to outliers in the dataset. Instead of removing these, I decided to use a penalty system that would "boost" popular makeup/hairstyles, and penalize less popular ones. This decision was made for two reasons:
- (1) the *mere exposure effect*: the psychological phenomenon that frequent exposure to something increases liking to it. In the context of Covet Fashion, MUs/HSs that are used more commonly tend to score higher, even if they are not intrinsically more "stylish".
- (2) the *bandwagon effect*: the psychological phenomenon that individual tend to follow what others do. In the context of Covet Fashion, players observe that certain MUs/HSs score higher; this leads to more players using it, and feeds back into the mere exposure effect.

These two effects create a positive feedback loop, boosting the scores of MU/HS/ST with higher usage.

<img src= "Voting Feedback Loop.png" />

In [8]:
# penalizing hair scores
hair_means['pen_score'] = hair_means['score'] - 1/hair_means['h_ct']
hair_means.head()

      type            hair_nm  hair_lvl     score  h_ct  pen_score
0  African      African Queen      12.0  4.277500     4   4.027500
1  African    Ancient Couture      60.0  4.610000     2   4.110000
2  African  Bald is Beautiful       5.0  4.337778     9   4.226667
3  African       Beauty Queen      14.0  4.410000     1   3.410000
4  African          Big Curls       7.0  4.366667     3   4.033333

In [9]:
# repeating for STs, MUs
mu_means['pen_score'] = mu_means['score'] - 1/mu_means['mu_ct']
st_means['pen_score'] = st_means['score'] - 1/st_means['st_ct']

# Simlating the Web App

The finished web app is based in R Shiny. The function below is a rough mockup of the output and functioning of the completed web app.

In [35]:
def find_highest(player_lvl, chal_type):
    """Returns the recommended HS, ST, and MU based on player level and challenge type"""
    if player_lvl < 1:
        print("Please enter valid level")
        return
    # getting valid HS/MU (available at player's current level)
    valid_hs = hair_means[(hair_means['hair_lvl'] <= player_lvl) & (hair_means['type'] == chal_type)]
    valid_mu = mu_means[(mu_means['mu_lvl'] <= player_lvl) & (mu_means['type'] == chal_type)]
    valid_st = st_means[st_means['type'] == chal_type]
    # extracting highest value, while checking for empty dataframe (insufficient data available)
    if not valid_hs.empty:
        sorted_hs = valid_hs.sort_values('pen_score', ascending=False)
        best_hs = sorted_hs['hair_nm'].iloc[0]
        avg_hs = round(sorted_hs['score'].iloc[0], 2)
        hs_lvl = int(sorted_hs['hair_lvl'].iloc[0])
        print("Hairstyle: {0} (level {1})".format(best_hs, hs_lvl))
        print("This hairstyle scores {0} on average in {1}-themed challenges".format(avg_hs, chal_type))
    else:
        print("Sorry, we currently don't have enough data for hairstyles at your level. If you would like to contribute your data to improve our website, please click here.")
    if not valid_mu.empty:
        sorted_mu = valid_mu.sort_values('pen_score', ascending=False)
        mu_lvl = int(sorted_mu['mu_lvl'].iloc[0])
        best_mu = sorted_mu['mu_nm'].iloc[0]
        avg_mu = round(sorted_mu['score'].iloc[0], 2)
        print("Makeup: {0} (level {1})".format(best_mu, mu_lvl))
        print("This makeup scores {0} on average in {1}-themed challenges".format(avg_mu, chal_type))
    else:
        print("Sorry, we currently don't have enough data for makeup at your level. If you would like to contribute your data to improve our website, please click here.")
    sorted_st = valid_st.sort_values('pen_score', ascending=False)
    best_st = sorted_st['ST'].iloc[0]
    avg_st = round(sorted_st['score'].iloc[0], 2)
    print("Skin Tone: {0}".format(best_st))
    print("This skin tone scores {0} on average in {1}-themed challenges".format(avg_st, chal_type))

In [11]:
find_highest(1, 'African')

Hairstyle: Twisted Braids (level 1)
This hairstyle scores 4.49 on average in African-themed challenges
Sorry, we currently don't have enough data for makeup at your level. If you would like to contribute your data to improve our website, please click here.
Skin Tone: medium dark
This skin tone scores 4.59 on average in African-themed challenges

In [12]:
find_highest(17, 'Asian')

Hairstyle: Neat Bun (level 10)
This hairstyle scores 4.39 on average in Asian-themed challenges
Makeup: Grace (level 3)
This makeup scores 4.98 on average in Asian-themed challenges
Skin Tone: light olive
This skin tone scores 4.58 on average in Asian-themed challenges

In [13]:
find_highest(-7, 'Asian')

Please enter valid level

In [14]:
find_highest(2, 'royal')

Sorry, we currently don't have enough data for hairstyles at your level. If you would like to contribute your data to improve our website, please click here.
Makeup: Luxe (level 1)
This makeup scores 4.13 on average in royal-themed challenges
Skin Tone: olive
This skin tone scores 4.43 on average in royal-themed challenges

In [15]:
find_highest(59, 'magical')

Hairstyle: Let Your Hair Down (level 58)
This hairstyle scores 4.66 on average in magical-themed challenges
Makeup: Pout (level 32)
This makeup scores 4.61 on average in magical-themed challenges
Skin Tone: olive
This skin tone scores 4.49 on average in magical-themed challenges

In [16]:
find_highest(52, 'punk')

Hairstyle: Rocker (level 8)
This hairstyle scores 4.78 on average in punk-themed challenges
Makeup: Magenta Madness (level 8)
This makeup scores 4.69 on average in punk-themed challenges
Skin Tone: tan
This skin tone scores 4.46 on average in punk-themed challenges

In [17]:
find_highest(66, 'casual')

Hairstyle: Natural Fro (level 40)
This hairstyle scores 4.57 on average in casual-themed challenges
Makeup: Brown Shadow (level 64)
This makeup scores 4.64 on average in casual-themed challenges
Skin Tone: olive
This skin tone scores 4.4 on average in casual-themed challenges

In [18]:
find_highest(55, 'sports')

Hairstyle: Sweet Fringe (level 38)
This hairstyle scores 4.98 on average in sports-themed challenges
Makeup: Earth Tones (level 41)
This makeup scores 4.58 on average in sports-themed challenges
Skin Tone: medium dark
This skin tone scores 4.43 on average in sports-themed challenges

In [19]:
find_highest(27, 'formal')

Hairstyle: Chignon (level 11)
This hairstyle scores 4.5 on average in formal-themed challenges
Makeup: Atlantis (level 16)
This makeup scores 4.41 on average in formal-themed challenges
Skin Tone: olive
This skin tone scores 4.41 on average in formal-themed challenges

In [20]:
find_highest(61, 'professional')

Hairstyle: Windy Day (level 53)
This hairstyle scores 4.66 on average in professional-themed challenges
Makeup: Smouldering Eyes (level 32)
This makeup scores 4.53 on average in professional-themed challenges
Skin Tone: medium dark
This skin tone scores 4.48 on average in professional-themed challenges

In [21]:
find_highest(73, 'Spanish')

Hairstyle: Windy Day (level 53)
This hairstyle scores 4.65 on average in Spanish-themed challenges
Makeup: Satin Red (level 60)
This makeup scores 4.59 on average in Spanish-themed challenges
Skin Tone: olive
This skin tone scores 4.44 on average in Spanish-themed challenges

In [22]:
find_highest(11, 'scifi')

Hairstyle: Long and Loose (level 10)
This hairstyle scores 4.47 on average in scifi-themed challenges
Makeup: In Bloom (level 2)
This makeup scores 4.48 on average in scifi-themed challenges
Skin Tone: olive
This skin tone scores 4.53 on average in scifi-themed challenges

In [40]:
categories = ['casual', 'royal', 'magical', 'sports', 'formal', 'professional', 'African', 'Spanish',
             'punk', 'scifi', 'horror', 'bridal', 'retro', 'Asian']
rndm_lvl = random.randint(1, 85)
print(rndm_lvl)
rndm_type = random.choice(categories)
find_highest(rndm_lvl, rndm_type)

26
Hairstyle: Cascading Curls (level 17)
This hairstyle scores 4.42 on average in professional-themed challenges
Makeup: Fruit of the Desert (level 12)
This makeup scores 4.59 on average in professional-themed challenges
Skin Tone: medium dark
This skin tone scores 4.48 on average in professional-themed challenges